<%= simple_form_for(@trip) do |f| %>
  <%= f.hidden_field :label %>
  <%= f.input :start_place_id, collection: @places.map { |p| [p.name, p.id] }, prompt: 'Select a start place' %>
  <%= f.input :end_place_id, collection: @places.map { |p| [p.name, p.id] }, prompt: 'Select an end place' %>
  <%= f.input :vehicle_id, collection: @vehicles.map { |v| [v.vehicle_type, v.id] }, prompt: 'Select a vehicle' %>

  <div class="days-section d-flex">
    <% Date::DAYNAMES.each_with_index do |day_name, index| %>
      <div class="days p-2">
        <h4><%= day_name %></h4>
      </div>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>
