<%= simple_form_for(@trip) do |f| %>
  <%= f.hidden_field :label %>
  <%= f.input :start_place_id, collection: @places.map { |p| [p.name, p.id] }, prompt: 'Select a start place' %>
  <%= f.input :end_place_id, collection: @places.map { |p| [p.name, p.id] }, prompt: 'Select an end place' %>
  <%= f.input :vehicle_id, collection: @vehicles.map { |v| [v.vehicle_type, v.id] }, prompt: 'Select a vehicle' %>

  <% if @trip_day_dates %>
    <div class="days-section d-flex">
      <% @week_days.each do |day_name, date| %>
        <div class="day-checkbox">
          <%= check_box_tag "trip[schedule][]", date, @trip_day_dates.include?(date) %>
          <%= label_tag "trip_schedule_#{date}", class: 'day-label' do %>
            <%= day_name[0, 2] %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="days-section d-flex">
      <%= f.input :schedule, as: :check_boxes, collection: @week_days.map { |day_name, date| [day_name[0, 2], date] }, include_hidden: false, label: false %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>
