<h1 class="add-trip-title">Edit Trip</h1>

<% if flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<div class="container-dark-blue" data-controller="checkall">
  <div class="container-inside">

    <div class="trip-banner">
      <div class="trip-banner-2">
        <h2>My Trips</h2>
        <%= image_tag("Vector.png", alt: "Logo", class: "logo-trip") %>
      </div>
    </div>

    <%= simple_form_for(@trip) do |f| %>
      <%= f.hidden_field :label %>
      <%= f.input :start_place_id, collection: @places.map { |p| [p.name, p.id] }, prompt: 'Select a start place' %>
      <%= f.input :end_place_id, collection: @places.map { |p| [p.name, p.id] }, prompt: 'Select an end place' %>
      <%= f.input :vehicle_id, collection: @vehicles.map { |v| [v.vehicle_type, v.id] }, prompt: 'Select a vehicle' %>

      <div class="container-edit-trip">
        <p class="select-frequency">Select Frequency</p>
        <div class="days-section d-flex">
          <% @week_days.each do |day_name, date| %>
            <div class="day-checkbox">
              <%= check_box_tag "trip[schedule][#{date}]", date, @trip_day_dates.include?(date),
                                class: "form_input", data: { check_all_target: "dayCheckbox" },
                                data: { target: "checkall.dayCheckbox" } %>
              <%= label_tag "trip_schedule_#{date}", class: 'form_label_trip' do %>
                <%= day_name[0, 2] %>
              <% end %>
            </div>
          <% end %>
        </div>
         <div class="container-checkbox-all">
          <div class="input-check-all">
            <input type="checkbox" id="check-all" name="check-all" data-action="change->checkall#allchecked">
            <label for="input-all">Check all</label>
          </div>
        </div>
      </div>

      <%= f.submit "Edit Trip", class: "button-green button-create-trip button-green-create" %>

      <%= link_to "cancel", trips_path, class: "button-cancel" %>
    <% end %>
  </div>
</div>
