<div class="container">
  <h1 class="main-title">My trips</h1>

  <% @trips.each do |trip| %>
    <div class="container-trip">
      <div class="container-inside">
        <div class="trip-front-part">
          <div class="trip-name">
              <%= trip.start_place.name %>

                <% if trip.round %>
                  <div class="round-trip">
                    <i class="fa-solid fa-arrow-right"></i>
                    <i class="fa-solid fa-arrow-left"></i>
                  </div>
                <% else %>
                  <i class="fa-solid fa-arrow-right"></i>
                <% end %>

              <%= trip.end_place.name %>
            <br>
          </div>

          <div class="logo-trash-pencil">
            <%= link_to edit_trip_path(trip) do %>
              <i class="fa-solid fa-pencil"></i>
            <% end %>
            <%= link_to trip_path(trip), data: { turbo_method: :delete, confirm: 'Are you sure?' } do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </div>
        </div>

        <div class="index-logo d-flex">
              <% case trip.vehicle.vehicle_type %>
                <% when "car" %>
                  <i class="fa-solid fa-car"></i>
                <% when "bus" %>
                  <i class="fa-solid fa-bus"></i>
                <% when "bike" %>
                  <i class="fa-solid fa-bicycle"></i>
                <% when "walk" %>
                  <i class="fa-solid fa-person-walking"></i>
                <% when "metro" %>
                  <i class="fa-solid fa-train"></i>
                <% else %>
                  <i class="fa-solid fa-question"></i>
              <% end %>
              <% if trip.score < 15 %>
                <p class="text-good"> <%= sprintf('%.1f', trip.score)%> kg/CO2 </p>
              <% elsif trip.score < 20 && trip.score > 15 %>
                <p class="text-average"> <%= sprintf('%.1f', trip.score)%> kg/CO2 </p>
              <% elsif trip.score > 20 %>
                <p class="text-bad"> <%= sprintf('%.1f', trip.score)%> kg/CO2 </p>
              <% end %>
            </div>
      </div>

      <div class="container-edit-trip">
        <div class="days-section d-flex w-100">
            <% @trip_day_dates = trip.days.pluck(:date) %>
            <% @week_days.each do |day_name, date| %>
              <div class="day-checkbox">
                <%= check_box_tag "trip[schedule][]", date, @trip_day_dates.include?(date), class: "form_input" %>
                <%= label_tag "trip", class: 'form_label_trip' do %>
                  <%= day_name[0, 2] %>
                <% end %>
              </div>
            <% end %>
          </div>
      </div>
    </div>

    <% end %>
    <div class='add-button-container'>
      <%= link_to new_trip_path, class: "add-trip-button" do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
  </div>

  <div class="hidden-container">

  </div>

  <%= link_to "See my score", profile_path, class: "button-green button-trip-index secondary title" %>
</div>
