<h1 class="main-title">My Ecotracker's Score</h1>
<h3 class="secondary-title">Based on my weekly trip</h3>



<div class="page">

<div class="container-score">
  <% if @score == 0 %>

        <div class="logo">
          <%= image_tag "arcticons_earth.svg" %>
        </div>
        <h2>No score yet !</h2>


    <% elsif  @score > 15%>
        <div class="logo-smile">
          <i class="fa-regular fa-face-grin-beam-sweat"></i>
        </div>
        <div class="jauge">
          <div class="avancement" style= "right: <%= @placement %>%;"></div>
        </div>
        <h3><strong><%= sprintf('%.1f', @score) %> Kg</strong></h3><p>CO2 / week</p>
        <div class="container-message">
          <i class="fa-solid fa-tree fa-2x"></i>
          <h3>50</h3><p>trees saved with <strong>10km</strong> less by weeks</p>
        </div>
         <div class="container-message">
          <i class="fa-solid fa-earth-americas fa-2x"></i>
          <h3> 6,5</h3><p>planets needed if everybody have your consumption</p>
        </div>


    <%  elsif @score < 15 %>
        <div class="logo-smile">
          <i class="fa-regular fa-face-smile"></i>
        </div>
        <div class="jauge">
          <div class="avancement" style= "right: <%= @placement %>%;"></div>
        </div>
        <h3><strong><%= sprintf('%.1f', @score) %> Kg</strong></h3><p>CO2 / week</p>
        <div class="container-message">
          <i class="fa-solid fa-chart-simple fa-2x"></i>
          <h3>-13</h3><p>kg of CO2 less than last week</p>
        </div>
        <div class="container-message">
          <i class="fa-solid fa-thumbs-up fa-2x"></i>
          <h3>92%</h3><p>better than the population</p>
        </div>
        <div class="container-message">
          <i class="fa-solid fa-dollar-sign fa-2x"></i>
          <h3>+18</h3><p>saved on fuel consumption this week</p>

        </div>

      <%end %>
    </div>

    <div class="bottom-button">
      <% if @score == 0 %>
          <%= link_to "Plan my first trip ", new_trip_path, class: "button-green green-score"  %>
        <% elsif @score > 0 %>
          <%= link_to "Edit my trips ", trips_path, class: "button-green green-score"  %>
      <%end %>
    </div>


    </div>
