<div class="container-dark-blue">
   <div class="progress-container">
      <div class="progression-bar-full">
        <div class= "icon-home">
          <i class="fa-solid fa-house home-logo-place"></i>
        </div>
      </div>
      <div class="progression-bar-full">
        <div class= "icon-car">
          <i class="fa-solid fa-car vehicle-logo-new"></i>
        </div>
      </div>
    </div>
  <h2 class="secondary-title">Enter your transports informations</h2>
  <div class="container-inside">

    <%= simple_form_for(@vehicle, html: { id: 'vehicleForm' }) do |f| %>
        <h3 class="tertiary-title">Select your transports :</h3>

        <div data-controller="toggle">
          <fieldset>
            <div id="custom-checkbox-page">
              <input value="car" type="checkbox" id="car" name="vehicle_type[]" data-action="change->toggle#fire"/>
              <label for="car">Car</label>
            </div>

            <div data-toggle-target="togglableElement" class="d-none">
                <div class="form-car"><%= "Enter your car's informations" %></div>
                <%= f.input :brand %>
                <%= f.input :model %>
                <%= f.input :year %>
            </div>


              <div id="custom-checkbox-page">
                <input value="bike" type="checkbox" id="bike" name="vehicle_type[]" />
                <label for="bike">Bike</label>
              </div>

              <div id="custom-checkbox-page">
                <input value="bus" type="checkbox" id="bus" name="vehicle_type[]" />
                <label for="bus">Bus</label>
              </div>

              <div id="custom-checkbox-page">
                <input value="walk"type="checkbox" id="walk" name="vehicle_type[]"/>
                <label for="walk">Walk</label>
              </div>


              <div id="custom-checkbox-page">
                <input value="metro" type="checkbox" id="metro" name="vehicle_type[]"/>
                <label for="metro">Metro</label>
              </div>

            </fieldset>

        </div>

        <%= f.submit  class: "button-green create-vehicle-button secondary-title button-container"%>
    <% end %>
  </div>
</div>
