<h1 class="main-title">Welcome to EcoTrack!</h1>
<h2 class="secondary-title">Calculate the real impact of my trips!</h1>
<div class="container-dark-blue">
  <h2 class="secondary-title">Then about my transports info</h2>


    <%= simple_form_for(@vehicle, html: { id: 'vehicleForm' }) do |f| %>
      <h3 class="tertiary-title">Select your transports :</h6>

    <div data-controller="toggle">
      <fieldset>
        <div>
          <input value="car" type="checkbox" id="car" name="vehicle_type[]" data-action="change->toggle#fire"/>
          <label for="car">Car</label>
        </div>

      <div>
          <input value="bike" type="checkbox" id="bike" name="vehicle_type[]" />
          <label for="bike">Bike</label>
      </div>

          <div>
            <input value="bike" type="checkbox" id="bike" name="vehicle_type[]" />
            <label for="bike">Bike</label>
          </div>

          <div>
            <input value="bus" type="checkbox" id="bus" name="vehicle_type[]" />
            <label for="bus">Bus</label>
          </div>

          <div>
            <input value="walk"type="checkbox" id="walk" name="vehicle_type[]"/>
            <label for="walk">Walk</label>
          </div>


          <div>
            <input value="metro" type="checkbox" id="metro" name="vehicle_type[]"/>
            <label for="metro">Metro</label>
          </div>

        </fieldset>

          <div data-toggle-target="togglableElement" class="d-none">
            <%= f.input :brand %>
            <%= f.input :model %>
            <%= f.input :year %>
          </div>
            <%= f.submit  class: "button-green main-title"%>
          </div>
    </div>
  <% end %>
</div>
