  <div class="container-dark-blue">
  <div class="progress-container">
    <div class="progression-bar-full"></div><div class="progression-bar"></div>
  </div>
    <h2 class="secondary-title">Enter the name of your locations of the week</h2>
    <div class= "icon-home">
      <i class="fa-solid fa-house"></i>
    </div>
    <div class="container-inside">
        <%= render 'form', new: @place %>


          <div class="scroller">
            <div class="all-places">
              <% @places.reverse_each do |place| %>
                <div class="places">
                  <%= link_to place_path(place), class: 'place-link', data: { turbo_method: :delete, confirm: 'Are you sure?' }  do %>
                    <div class="place">
                      <p class="name-place"><%= place.name %></p>
                      <i class="fa-solid fa-trash-can"></i>
                    </div>
                  <% end %>
                </div>
              <% end %>
        </div>
      </div>
    </div>
    <%= link_to "Next", new_vehicle_path, class: "button-green secondary-title"  %>
  </div>


<% if flash.now[:notice] %>
  <p class="notice"><%= flash.now[:notice] %></p>
<% end %>

<% if flash.now[:alert] %>
  <p class="alert"><%= flash.now[:alert] %></p>
<% end %>
