<h1 class="main-title">Welcome to EcoTracker!</h1>
<h2 class="secondary-title">Calculate the real impact of my trips!</h2>
  <div class="container-dark-blue">
  <div class="progress-container">
    <div class="progression-bar-full"></div><div class="progression-bar"></div>
  </div>
    <h2 class="secondary-title">Type your favorites locations of the week</h2>
    <div class= "icon-home">
      <i class="fa-solid fa-house"></i>
    </div>
    <div class="container-inside">
        <%= render 'form', new: @place %>


          <div class="scroller">
            <div class="all-places">
              <% @places.reverse_each do |place| %>
                <div class="places">
                  <div class="place"><%= place.name %></div>
                    <%= link_to place_path(place), data: { turbo_method: :delete, confirm: 'Are you sure?' } do %>
                      <i class="fa-solid fa-trash-can"></i>
                    <% end %>
                </div>
              <% end %>
        </div>
      </div>
    </div>
    <%= link_to "Next", new_vehicle_path, class: "button-green secondary-title"  %>
  </div>


<% if flash.now[:notice] %>
  <p class="notice"><%= flash.now[:notice] %></p>
<% end %>

<% if flash.now[:alert] %>
  <p class="alert"><%= flash.now[:alert] %></p>
<% end %>
