<!DOCTYPE html>
<html>
  <head>
    <title>Ecotraker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="navbar">
      <%= link_to "Manage my trips", trips_path %>
      <%= link_to "Today's trips", days_path %>
      <%= link_to "My account", edit_user_registration_path %>
    </div>
    <div class="container-layout">
      <%= yield %>
    </div>
  </body>
</html>
