<!DOCTYPE html>
<html>
  <head>
    <title>Ecotraker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar-ecotrack">
      <%= link_to "My Ecotrack's trips", trips_path %>
      <%= link_to "My Ecotrack's score", profile_path %>
    </div>
    <div class="container-layout">
      <%= yield %>
    </div>
  </body>
</html>
